*{
    text-decoration: none;
    list-style: none;
    block-size: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(67, 67, 67);
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 10px 0 0 0;
}
.otvet{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(85, 77, 77);
}
.object{
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(197, 232, 184);
}